<!-- <link rel="stylesheet" href="/public/css/style.css"> -->

<nav class="nav">
    <div class="nav-header">
        <div class="nav-left">
            <a href="/" class="nav-link">Logo</a>
        </div>
        <div class="nav-center">

        </div>
        <div class="nav-right">
            <a href="/users" class="nav-link">Users</a>
            <a href="/posts" class="nav-link">Posts</a>
            <a href="/login" class="nav-link">Login</a>
            <a href="#" class="nav-link">Four</a>
            <div class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="overlay-content">
            <a href="/users" class="overlay-link">Users</a>
            <a href="/posts" class="overlay-link">Posts</a>
            <a href="/login" class="overlay-link">Login</a>
            <a href="#" class="overlay-link">Four</a>
        </div>
    </div>
</nav>

<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
    const overlay = document.querySelector('.overlay');

    hamburgerMenu.addEventListener('click', function () {
        this.classList.toggle('open');
        overlay.classList.toggle('show');
    });

    // hamburgerMenu.addEventListener('click', (e) => {
    //         e.currentTarget.classList.toggle('open');
    //         overlay.classList.toggle('show');
    // });


</script>