

            <div class="comment-div">
                <form action="/posts/:id" method="post">
                    <label for="title">Comment Title</label>
                    <br>
                    <input type="text" name="title" /><br />
                    <label for="body">Comment Body</label>
                    <br>
                    <textarea name="body"></textarea><br />

                    
                    <input type="hidden" name="postId" value="<%=post._id%>">
                    <input type="submit" value="Publish Comment" />
                </form>
            </div>
