

            <div>
                <form action="/posts/:id" method="post">
                    <input type="text" name="title" /><br />
                    <textarea name="body"></textarea><br />

                    
                    <input type="hidden" name="postId" value="<%=post._id%>">
                    <input type="submit" value="Publish Comment" />
                </form>
            </div>
