<%- include partials/header %>
    <%- include partials/navbar %>

    <h4>Registration</h4>
    <form action="/auth/registration" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="username"><br>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="password"><br>
        <label for="photo">URL source for photo</label>
        <input type="text" name="photo" placeholder="img src"> <br>
        <button type="submit">Register</button>
    </form>
        
    </body>
</html>